/logs/spring.log
.resourceCache*
*.dat
.idea
*.iml
*.ipr
*.iws
classes*
gradle
.gradle
build
/bin/
.classpath
.project
.settings/
*logs/
*spring.log
logs
/data-common/src/main/resources/git.properties
src/main/resources/git.properties

